<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    {% block styles %}
        {{ bootstrap.load_css() }}
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div class="banner">
        <div class="banner-img">
            <div class="container">
                <div class="banner-text">
                    <span>MedDRA Mapping System</span>
                    <br><br>
                    <span>Clinical Term into MedDRA Term</span>
                </div>
                <div class="logo">
                    <a href="https://ai-in-cancer.org/">
                        <img src="../static/img/logo.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <ul class="navibar">
            {% for item in nav.top %}
            <li class="{{ 'active' if item.is_active else '' }}">
                <a href="{{ item.url }}">{{ item.label }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% block content %}{% endblock %}

    {% block scripts %}
        {{ bootstrap.load_js() }}
    {% endblock %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    {{ moment.include_moment() }}
</body>
</html>