{% extends 'base.html' %}
{% block title %} Choose Method {% endblock %}
{% block content %}
<br>
<div>
    <h2>
        We offer 2 different ways processing your data. Please choose one:
    </h2>
    <br>
    <form action="/choose_method" method="post">
        <div class="card-container">
            <!-- For adding a new card, just to
                 add a <div> block as shown below under 
                 the div tag of the card-container class. -->

            <!-- Attention: The "name" attribute must be the SAME as the registered pipeline name. -->
            <div class="card">
                <div class="content">
                    <h3>Experimental Method</h3>
                    <p>
                        This method would use weight matching.
                        Compared to the default method, this method have a much lower accuracy. 
                        While the number of right labels only slightly increases, significantly more wrong labels are output as well.
                    </p>
                    <input type="submit" class="ui button" name="experimental" value="Choose">
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h3>Default Method</h3>
                    <p>
                        This Method would use exact matching, check if terms are equal to MedDRA terms or split terms
                        into several words then check if there would be matched.
                    </p>
                    <input type="submit" class="ui button" name="__default__" value="Choose">
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}