{% extends 'base.html' %}
{% from 'bootstrap4/form.html' import render_form %}
{% from 'bootstrap4/pagination.html' import render_pagination %}

{% block title %} Leave Your Message {% endblock %}

{% block content %}
<h3>Message Board</h3>
<br>
<p style="font-size: 18px; padding-left: 10px;">
    If you have any suggestions, please leave your comment.
</p>
<br>
<h5>{{ pagination.total }} messages</h5>
<div class="list-group">
    {% for message in messages %}
        <a class="list-group-item list-group-item-action flex-column">
            <div class="d-flex w-100 justify-content-between">
                <span class="mb-1 text-success">{{ message.nickname }} # {{ message.email }}
                    <small class="text-muted"> #{{ message.id }}</small>
                </span>
                <small data-toggle="tooltip" data-placement="top"
                    data-timestamp="{{ message.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}"
                    data-delay="500">
                    {{ moment(message.timestamp).fromNow(refresh=True) }}
                </small>
            </div>
            <p class="mb-1">{{ message.body }}</p>
        </a>
    {% endfor %}
    {% if pagination %}
        {{ render_pagination(pagination) }}
    {% endif %}
</div>
<div class="hello-form">
    {{ render_form(form, action=request.full_path) }}
</div>
{% endblock %}