{% extends 'base.html' %}
{% block title %} MedDRA {% endblock %}
{% block content %}
<br>
<div>
    <h2>About Us</h2>

    If there is any issue, please contact us via 
    song.bai@mailbox.tu-dresden.de; 
    preetam.gattogi@mailbox.tu-dresden.de; or
    peggy.hoelzel@mailbox.tu-dresden.de
</div>
{% endblock %}