{% extends 'base.html' %}
{% block title %} File Download {% endblock %}
{% block head %}
    {{ super() }}
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" type="text/css">
{% endblock %}
{% block content %}
<div>
    <br><br>
    <h2>
        Click the Link to download matched file
    </h2>

    {% for entry in entries if '.csv' in entry %}
        <a href='/download/{{entry}}' class="ui button">{{entry}}</a>
    {% endfor %}
    
    <h2>
        Details of matched terms:
    </h2>

    <table class="display">
        {% for table in tables %}
        {{ table|safe }}
        {% endfor %}
    </table>


    <br><br>
</div>
{% endblock %}
{% block scripts %}
<script>
        $(document).ready(function () {
            $('#table').DataTable({
            pagingType: 'full_numbers',
            scrollY: 380,
            scrollX: 500,
        });
    });
</script>
{% endblock %}