{% extends 'base.html' %}
{% block title %} MedDRA {% endblock %}
{% block content %}
<br>
<div class="text-center">
    <h2>
        Welcome To MedDRA Mapping System
    </h2>
    <br>
    <p style="font-size: 18px;">
        This website is used for translating medical terms into MedDRA codes.<br>
        Currently, the website supports single-term translation and file upload.<br><br>
        To use single-term translation, please click <a href="{{ url_for('single_item') }}">Single Term</a><br>
        To use File upload, please click <a href="{{ url_for('upload_file') }}">Upload</a>
    </p>
</div>
{% endblock %}