{% extends 'base.html' %}
{% from 'bootstrap4/form.html' import render_form %}
{% block title %} Single Input {% endblock %}
{% block content %}
<br>
<div class="center">
    <h2>
        Single Term Mapping
    </h2>
    <br>
    <p style="font-size: 16px; padding-left: 10px;">
        This site allows you to upload single medical term.<br>
        The AE_Spec is optional to give, but for some cases affect results.
    </p>
    <br>
    <h3>Please enter term</h3>
    <div class="hello-form">
        {{ render_form(form, action=request.full_path) }}
    </div>
</div>

{% endblock %}