{% extends 'base.html' %}
{% block title %} File Upload {% endblock %}
{% block content %}
<br>
<div class="text-center">
    <h2>
        File Upload
    </h2>
    <div class="hintbox">
            <h3>
                Hint
            </h3>
            <p>
                The uploaded file must contain columns "AE_ID", "Original_AE_Term" 
                and "Original_AE_Term_Spec"(or both combined into "Original_Term").<br>
                Use ';' as separation.<br>
                It accept only '.csv' as input file.
            </p>
    </div>
    <br><br>
    <h3>
        Please choose your File
    </h3>
    <br>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <button class="ui secondary button" type="submit">Submit</button>
    </form>
</div>

{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
{% endwith %}

{% endblock %}