div {
	margin: 0;
	padding: 0;
	border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.banner {
    width: 100%;
    background: #fff;
    margin: 0 auto;
}

/* .banner-header .banner-text {} */

.banner .banner-img {
    width: 100%;
    z-index: 1;
    height: 180px;
    background-image: url(../img/banner.png);
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    height: 180px;
}

.container .banner-text {
    flex: auto;
    flex-basis: 60%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 2em;
    text-align: center;
}

.container .logo {
    flex:auto;
    flex-basis: 40%;
    text-align: center;
    margin-right: 0;
}

.navibar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	position:relative;
    height: 48px;
	width: 100%;
    background-color: #333;
}
 
.navibar li {
    float: left;
}
 
.navibar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navibar li a:hover {
    background-color: #111;
}

footer {
    color: #888;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}

.avatar {
    width: 60px;
}

.totoro {
    display: block;
    margin: 0 auto;
    height: 100px;
}

.alert {
    position: relative;
    padding: 7px;
    margin: 7px 0;
    border: 1px solid transparent;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border-radius: 5px;
}

.card-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.card-container .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: whitesmoke;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.card-container .card .content {
    padding: 20px;
    text-align: center;
}

.card-container .card .content h3 {
    font-size: 24px;
    color: #000;
    z-index: 1;
}

.card-container .card .content p {
    font-size: 18px;
    color: #000;
    font-weight: 300;
}

.hintbox {
    width: 500px;
    height: 180px;
    font-family: Arial;
    line-height: 15px;
    color: black;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 0 5px black;
  }

.hintbox h3 {
    font-size: 24px;
    color: #ff0000;
    z-index: 1;
}

.hintbox p {
    font-size: 15px;
    color: #000;
    font-weight: 300;
}