{% extends "base.html" %}

{% block title %}400 Error{% endblock %}

{% block content %}
<div class="text-center">
    <br>
    <h3>Bad Request</h3>
    <span>Please Go Back To Home</span>
</div>
{% endblock %}