{% extends "base.html" %}

{% block title %}403 Error{% endblock %}

{% block content %}
<div class="text-center">
    <br>
    <h3>Forbidden</h3>
    <span>Please Go Back To Home</span>
</div>
{% endblock %}