{% extends "base.html" %}

{% block title %}404 Error{% endblock %}

{% block content %}
<div class="text-center">
    <br>
    <h3>Page Not Found</h3>
    <span>Please Go Back To Home</span>
</div>

{% endblock %}